<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @genre.name %>
</p>

<p>
  <b>Show:</b>
  <%= @genre.tv_show_id %>
</p>


<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Genres Index', genres_path %>
