<% content_for :javascript do %>
<script>
</script>
<% end %>

<h4>TV Show Index</h4>

<table  id="myTable" class="tablesorter-blue">
<thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Year released</th>
    <th>Year ended</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @tv_shows.each do |tv_show| %>
  <tr>    
    <td><%= tv_show.id %></td>
    <td><%= tv_show.title %></td>
    <td><%= tv_show.year_released %></td>
    <td><%= tv_show.year_ended %></td>
    <td><%= tv_show.description %></td>
    <td><%= link_to 'Show', tv_show %></td>
    <td><%= link_to 'Edit', edit_tv_show_path(tv_show) %></td>
    <td><%= link_to 'Destroy', tv_show, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= button_to "Add TV show", new_tv_show_path, :method => "get", :class=> "btn btn-primary"%>
