<% content_for :javascript do %>
<script>
$(function() {
  Morris.Line({
    element: 'shows_ratings',
    data: $('#shows_ratings').data('tv-shows'),
    xkey: 'year',
    ykeys: ['average'],
    labels: ['Average Episode Rating'],
    pointSize: 0,
    parseTime: false
  });
});
</script>
<% end %>

<div class="page-header" style="margin:0px">
  <h1>
    <%= link_to @tv_show.title, @tv_show%>
    <small>
      (<%= @tv_show.year_released.try(:strftime, "%Y") %>
      -
      <%= @tv_show.year_ended.try(:strftime, "%Y") %>)</small>
    <span class="badge badge-warning rating-badge pull-right">
      IMDB <%= @IMDBrating %>
      <span>
  </h1>
</div>
    <div class="row-fluid">
      <div class="span8">
        <div class="tabbable">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active">
              <a data-toggle="tab" href="#about">About</a>
            </li>
            <li>
              <a data-toggle="tab" href="#reviews">Reviews</a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="about">
              <p>
                <p> <b>Description:</b>
                  <%= @tv_show.description %></p>

                <p> <b>Genres:</b>
                  <% @tv_show.genres.each do |genre| %>
                  <span class="badge badge-info">
                    <%= genre.name %></span>
                  <% end %></p>
                  <%= content_tag :div, "", id: "shows_ratings", style: "height:190px", data: {tv_shows: shows_ratings_data(@tv_show.id)} %>
            </div>
            <div class="tab-pane" id="stats">

            </div>
            <%= link_to 'Edit', edit_tv_show_path(@tv_show) %>
            |
            <%= link_to 'TV Show Index', tv_shows_path %>
          </div>
        </div>
      </div>

        <div class="span4">
          <div class="accordion" id="accordion1">
            <% @tv_show.tv_seasons.each do |season| %>
            <div class="accordion-group">
              <div class="accordion-heading">
                <%= link_to '<i class="icon-plus"></i>'.html_safe, tv_season_path(season.id), :style => 'display:inline', :class => 'accordion-toggle', :data => {:toggle=>"collapse",:parent=>"#accordian1"}, :href => '#'+season.id.to_s %>
                <%= link_to 'Season '+ season.number.to_s, tv_season_path(season.id) %>
              </div>
              <div id=<%= season.id.to_s %>
                class="accordion-body collapse">
                <div class="accordion-inner">
                  <ul>
                    <% season.tv_episodes.each do |episode| %>
                    <li>
                      <%= link_to '#'+ episode.number.to_s+': '+episode.title, tv_episode_path(episode.id) %></li>
                    <% end %></ul>
                </div>
              </div>
            </div>
            <% end %></div>
        </div>
      </div>