<% content_for :javascript do %>
<script type="text/javascript">
  Morris.Area({
    element: 'tv_shows_chart',
    data: $('#tv_shows_chart').data('tv-shows'),
    xkey: 'year_released',
    ykeys: ['count', 'rating'],
    labels: ['TV shows', 'Ratings']
  });
  Morris.Donut({
    element: 'genres_pie_chart',
    data: $('#genres_pie_chart').data('genres')
  });
  Morris.Bar({
    element: 'genres_pie_ratings_chart',
    data: $('#genres_pie_ratings_chart').data('genres'),
    xkey: 'name',
    ykeys: ['value'],
    labels: ['Average rating'],
    parseTime: false
  });
  Morris.Area({
    element: 'genres_chart',
    data: $('#genres_chart').data('genres'),
    xkey: 'year_released',
    ykeys: ['comedy', 'drama', 'documentary', 'realitytv', 'talkshow'],
    labels: ['Comedy', 'Drama', 'Documentary', 'Reality TV', 'Talk Show']
  });
  Morris.Line({
    element: 'ratings_avg_chart',
    data: $('#ratings_avg_chart').data('ratings'),
    xkey: 'year',
    ykeys: ['average','epaverage'],
    labels: ['Average TV show rating','Average episode rating'],
    pointSize: 0
  });
  Morris.Area({
    element: 'ratings_chart',
    data: $('#ratings_chart').data('ratings'),
    xkey: 'year_released',
    ykeys: ['count','rating'],
    labels: ['Tv episodes','Ratings']
  });
</script>
<% end %>

<div class="row-fluid">
<div class="span6">
<h3>Average Ratings By Genre</h3>
<%= content_tag :div, "", id: "genres_pie_ratings_chart", style: "height:540px", data: {genres: genres_pie_ratings_data} %>
</div>
<div class="span6">
<h3>Average Ratings By Year</h3>
<%= content_tag :div, "", id: "ratings_avg_chart", style: "height:540px", data: {ratings: ratings_avg_data} %>
</div>
</div>
<div class="row-fluid">
<div class="span6">
<h3>TV Shows By Year Released</h3>
<%= content_tag :div, "", id: "tv_shows_chart", style: "height:540px", data: {tv_shows: tv_shows_chart_data} %>
</div>
<div class="span6">
<h3>Ratings By Year Released</h3>
<%= content_tag :div, "", id: "ratings_chart", style: "height:540px", data: {ratings: ratings_chart_data} %>
</div>
</div>
<h3>Genres</h3>
<div class="row-fluid">
<div class="span4">
<%= content_tag :div, "", id: "genres_pie_chart", style: "height:540px", data: {genres: genres_pie_data} %>
</div>
<div class="span8">
<%= content_tag :div, "", id: "genres_chart", style: "height:540px", data: {genres: genres_chart_data} %>
</div>
</div>