<% content_for :javascript do %>
<script>
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
  $(".select_change").change(function(){ $(this).parent('form').submit(); });
</script>
<% end %>

<div class="row-fluid" style="margin-top:0px">
  <div class="span7">
<div class="flexslider" style="margin-bottom:20px;" class="clearfix">
  <ul class="slides">
    <li data-thumb="/assets/breaking_bad.jpg">
     <%= link_to image_tag("/assets/breaking_bad.jpg", :style => "position:relative"), tv_show_path(TvShow.find_title("Breaking Bad").first.id) %>
        <p class="flex-caption">Featured Show: Breaking Bad</p>
    </li>
    <li data-thumb="/assets/archer.png">
     <%= link_to image_tag("/assets/archer.png", :style => "position:relative"), tv_show_path(TvShow.find_title("Archer").first.id) %>
        <p class="flex-caption">Featured Show: Archer</p>
    </li>   
    <li data-thumb="/assets/game_of_thrones.png">
     <%= link_to image_tag("/assets/game_of_thrones.png", :style => "position:relative"), tv_show_path(TvShow.find_title("Game of Thrones").first.id) %>
         <p class="flex-caption">Featured Show: Game of Thrones</p>
    </li>  
    <li data-thumb="/assets/the_americans.png">
     <%= link_to image_tag("/assets/the_americans.png", :style => "position:relative"),  tv_show_path(TvShow.find_title("The Americans").first.id)  %>
         <p class="flex-caption">Featured Show: The Americans</p>
    </li>
  </ul>
</div>
  </div>
  <div class="span4 offset1">  	
  	<h4>
  		<form action="index" class="display:inline; float:left;">
  			<%= select( "type", "select", { "Top TV Shows" => "1", "Top TV Seasons" => "2", "Top TV Episodes" => "3"}, {}, :class => 'select_change') %>
		on
        <%= select( "website", "select", { "IMDB" => "IMDB", "Metacritic" => "Metacritic", "Netflix" => "Netflix"}, {}, :class => 'input-small select_change') %>
		</form> 
	</h4>
  <div class="row-fluid">
  <div class="span9">
    <ol style="font-size:14px; margin-left:50px;">
      <% if !@top.nil? %>
        <% @top.each do |tv_show| %>
          <li><%= link_to(tv_show.title, tv_show_path(tv_show)) %></li>
        <% end %>
      <% end %>
    </ol>
</div>
  <div class="span1">
  <ul style="font-size:14px;list-style:none">
      <% if !@top.nil? %>
        <% @top.each do |tv_show| %>
          <li><span class="badge badge-info"><%= tv_show.total_rating %><span></li>
        <% end %>
      <% end %>
  </ul>
</div>
</div>
</div>
</div>
<div class="row-fluid">
  <div class="span7">
    <h3>Recent reviews</h3>
    <% if !@recentReviews.nil? %>
      <div id="recentReviews"><%= render 'layouts/reviews' %></div> 
    <% end %> 
  </div>
  <div class="span4 offset1">
  	<h3>News and Updates</h3>
    <ul>
      <li></li>
    </ul>
  </div>
</div>

