<% content_for :javascript do %>
<script>
  $('#searchresults').dataTable({    
    "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
    "sPaginationType": "bootstrap"
  });
</script>
<% end %>

<h3>Search Results</h3>
<table cellpadding="0" cellspacing="0" border="0" id="searchresults" class="datatable table table-striped table-bordered">
<thead>
  <tr>
    <th class="short">Type</th>
    <th>TV Show Title</th>
    <th>Episode Title</th>
    <th class="short">Season #</th>
    <th class="short">Episode #</th>
    <th class="short">Year</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  <% @tv_result.find_each do |r| %>
    <tr>
      <th>TV Show</th>
      <td><%= link_to r.title, tv_show_path(r) %></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= r.year_released.try(:strftime, "%Y") %></td>
      <td><%= r.description %></td>
    </tr>
  <% end %>
  <% @ep_result.find_each do |r| %>
    <tr>
      <th>Episode</th>
      <td><%= link_to(r.tv_season.tv_show.title, r.tv_season.tv_show) %></td>
      <td><%= link_to(r.title, r) %></td>
      <td><%= link_to(r.tv_season.number, r.tv_season )%></td>
      <td><%= link_to(r.number, r) %></td>
      <td><%= r.air_date.try(:strftime, "%Y") %></td>
      <td></td>
    </tr>
  <% end %>
</tbody>
</table>