<h3>Statistics</h3>
<div class="row-fluid">
<div class="span3">
	<ul>
		<li>TV show count: <%= TvShow.count %></li>
		<li>TV season count: <%= TvSeason.count %></li>
		<li>TV episode count: <%= TvEpisode.count %></li>
		<li>Genre count: <%= Genre.count %></li>
		<li>Rating count: <%= Rating.count %></li>		
		<li>Review count: <%= Review.count %></li>
		<li> - TV.com Reviews: <%= @DouxReviews %></li>
		<li> - DouxReviews Reviews: <%= @TVReviews %></li>
		<li> - TVEquals Reviews: <%= @EqualsReviews %></li>
		<li> - TV Fanatic Reviews: <%= @FanaticReviews %></li>
	</ul>
	<br>
</div>
<div class="span3">
	Genres
	<ul>
	<% @genres.each do |genre| %>
    	<li><%= genre[0] %>: <%= genre[1] %></li>
	<% end %>
	</ul>
</div>
<div class="span3">
	Ratings
	<ul>
		<li>Average Rating: <%= @average_rating %></li>
	</ul>
	Reviews
	<ul>

	</ul>
</div>
</div>
