<h3>Statistics</h3>
<div class="row-fluid">
<div class="span12">
	<ul>
		<li>TV show count: <%= TvShow.count %></li>
		<li>TV season count: <%= TvSeason.count %></li>
		<li>TV episode count: <%= TvEpisode.count %></li>
		<li>Genre count: <%= Genre.count %></li>
		<li>Rating count: <%= Rating.count %></li>
	</ul>
</div>
</div>
