<h3>Statistics</h3>
<div class="row-fluid">
<div class="span3">
	<ul>
		<li>TV show count: <%= TvShow.count %></li>
		<li>TV season count: <%= TvSeason.count %></li>
		<li>TV episode count: <%= TvEpisode.count %></li>
		<li>Genre count: <%= Genre.count %></li>
		<li>Rating count: <%= Rating.count %></li>
	</ul>
	<br>
</div>
<div class="span3">
	Genres
		<ul>

	<% @genres.each do |genre| %>
    <li><%= genre[0] %>: <%= genre[1] %></li>
	<% end %>
</ul>
</div>
<div class="span3">
	Ratings
	<ul>
		<li>Average Rating: <%= @average_rating %></li>
	</ul>
	Reviews
	<ul>
		<li>Number of Reviews: <%= Review.count %></li>
		<li>Number of TV.com Reviews: <%= @DouxReviews %></li>
		<li>Number of DouxReviews Reviews: <%= @TVReviews %></li>
	</ul>
</div>
</div>
