<% content_for :javascript do %>
<script>
  $('#tvepisodesearch').dataTable({    
  	"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
    "sPaginationType": "bootstrap",
    "bFilter": false
  });
</script>
<% end %>

<h3>TV Episode Advanced Search</h3>
<%= search_form_for  @q, class: 'form-horizontal', url: tv_episode_search_path do |f|%>
  <div class="field control-group">
    <%= f.label :title_cont, "Episode title contains", :class => 'control-label' %>
    <%= f.text_field :title_cont %>
  </div>
  <div class="field control-group">
    <%= f.label :tv_season_tv_show_title_cont, "Show title contains", :class => 'control-label' %>
    <%= f.text_field :tv_season_tv_show_title_cont %>
  </div>
  <div class="field control-group">
    <%= f.label :id_eq, "ID equals", :class => 'control-label'  %>
    <%= f.text_field :id_eq %>
  </div>
  <div class="field control-group">
    <%= f.label :air_date_gteq, "Air date between", :class => 'control-label' %>
    <%= f.text_field :air_date_gteq, :class => 'input-small' %>
    <%= f.label :air_date_lteq, "and", :style => 'display:inline;' %>
    <%= f.text_field :air_date_lteq, :class => 'input-small', :style => 'margin-left:0' %>    
  </div>
  <div class="field control-group">
    <%= f.label :tv_season_number_gteq, "Season # between", :class => 'control-label' %>
    <%= f.text_field :tv_season_number_gteq, :class => 'input-small' %>
    <%= f.label :tv_season_number_lteq, "and", :style => 'display:inline;' %>
    <%= f.text_field :tv_season_number_lteq, :class => 'input-small', :style => 'margin-left:0' %>    
  </div>
  <div class="field control-group">
    <%= f.label :number_gteq, "Episode # between", :class => 'control-label' %>
    <%= f.text_field :number_gteq, :class => 'input-small' %>
    <%= f.label :number_lteq, "and", :style => 'display:inline;' %>
    <%= f.text_field :number_lteq, :class => 'input-small', :style => 'margin-left:0' %>    
  </div>
  <%= f.submit 'Search', :class => 'btn btn-primary'%>
<% end %>
<table cellpadding="0" cellspacing="0" border="0" id="tvepisodesearch" class="datatable table table-striped table-bordered">
<thead>
  <tr>
    <th>Title</th>
    <th>TV Show</th>
    <th class="short">Season #</th>
    <th class="short">Episode #</th>
    <th>Air Date</th>
  </tr>
</thead>
<tbody>
  <% @tv_episodes_result.each do |tv_episode| %>
    <tr>
      <td><%= link_to(tv_episode.title, tv_episode) %></td>
      <td><%= link_to(tv_episode.tv_season.tv_show.title, tv_show_path(tv_episode.tv_season.tv_show)) %></td>
      <td><%= link_to(tv_episode.tv_season.number, tv_episode.tv_season) %></td>
      <td><%= link_to(tv_episode.number, tv_episode) %></td>
      <td><%= tv_episode.air_date.try(:strftime, "%Y") %></td>
    </tr>
  <% end %>
</tbody>
</table>
