<% content_for :javascript do %>
<script>
  $('#tvshowsearch').dataTable({    
  	"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
    "sPaginationType": "bootstrap",
    "bFilter": false
  });
</script>
<% end %>

<h3>TV Show Advanced Search</h3>
<%= search_form_for  @q, class: 'form-horizontal', url: tv_show_search_path do |f|%>
  <div class="field control-group">
    <%= f.label :title_cont, "Title contains", :class => 'control-label' %>
    <%= f.text_field :title_cont %>
  </div>
  <div class="field control-group">
    <%= f.label :description_cont, "Description contains", :class => 'control-label' %>
    <%= f.text_field :description_cont %>
  </div>
  <div class="field control-group">
    <%= f.label :genres_name_cont, "Genre", :class => 'control-label' %>
    <%= f.text_field :genres_name_cont %>
  </div>
  <div class="field control-group">
    <%= f.label :id_eq, "ID equals", :class => 'control-label' %>
    <%= f.text_field :id_eq %>
  </div>
  <div class="field control-group">
    <%= f.label :year_released_gteq, "Year released between", :class => 'control-label' %>
    <%= f.text_field :year_released_gteq, :class => 'input-small' %>
    <%= f.label :year_released_lteq, "and", :style => 'display:inline;' %>
    <%= f.text_field :year_released_lteq, :class => 'input-small', :style => 'margin-left:0' %>    
  </div>
  <div class="field control-group">
    <%= f.label :year_ended_gteq, "Year ended between", :class => 'control-label' %>
    <%= f.text_field :year_ended_gteq, :class => 'input-small'  %>
    <%= f.label :year_ended_lteq, "and", :style => 'display:inline;' %>
    <%= f.text_field :year_ended_lteq, :class => 'input-small', :style => 'margin-left:0' %>    
  </div>
  <%= f.submit 'Search', :class => 'btn btn-primary'%>
<% end %>
<table cellpadding="0" cellspacing="0" border="0" id="tvshowsearch" class="datatable table table-striped table-bordered">
<thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th class="medium">Year Released</th>
    <th class="medium">Year Ended</th>
  </tr>
</thead>
<tbody>
  <% @tv_shows_result.each do |tv_show| %>
    <tr>
      <td><%= link_to(tv_show.title, tv_show_path(tv_show)) %></td>
      <td><%= tv_show.description %></td>
      <td><%= tv_show.year_released.try(:strftime, "%Y") %></td>
      <td><%= tv_show.year_ended.try(:strftime, "%Y") %></td>
    </tr>
  <% end %>
</tbody>
</table>
