<%= simple_form_for(@rating) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :votes %>
    <%= f.input :total_rating %>
    <%= f.input :rating_website %>
    <%= f.input :type %>
    <%= f.input :item_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
