<p id="notice"><%= notice %></p>

<p>
  <b>Votes:</b>
  <%= @rating.votes %>
</p>

<p>
  <b>Total rating:</b>
  <%= @rating.total_rating %>
</p>

<p>
  <b>Rating website:</b>
  <%= @rating.rating_website %>
</p>

<p>
  <b>Type:</b>
  <%= @rating.rateable_type %>
</p>

<p>
  <b>Item:</b>

</p>


<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Ratings Index', ratings_path %>
