<div class="page-header" style="margin:0px">
    <h1>  <%= link_to @tv_episode.title, @tv_episode %>
      <small> 
        <%= link_to @tv_episode.tv_season.tv_show.title, @tv_episode.tv_season.tv_show, :method => "get" %>
        <%= link_to 'S'+@tv_episode.tv_season.number.to_s, @tv_episode.tv_season %>x<%= link_to 'E'+@tv_episode.number.to_s, @tv_episode %> (<%= @tv_episode.air_date.try(:strftime, "%Y") %>)
      </small>
    <span class="badge badge-warning rating-badge pull-right">
      IMDB <%= @IMDBrating %>
      <span>
    </h1>
</div>

    <div class="row-fluid">
      <div class="span8">
        <div class="tabbable">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active">
              <a data-toggle="tab" href="#about">About</a>
            </li>
            <li>
              <a data-toggle="tab" href="#tvreviews">Reviews</a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="about">
              </div>
              <div class="tab-pane" id="tvreviews">
               <% if !@reviews.nil? and @reviews.count > 0 %>
                <% @reviews.each do |review| %>
                <h6>
            <%= link_to review.reviewable.tv_season.tv_show.title.to_s+": "+review.title, review %> <small>
             by <%= review.author %> at <%= link_to review.website, review.link %></small>
          <span class="pull-right"><%= review.year_reviewed.try(:strftime, "%m/%d/%y") %>
          &nbsp;<span class="badge badge-success">+2<span/></span></h6>
                  <%= review.content[0..300]+"..." %><%= link_to 'Read full review', review_path(review) %>
                  <br><br>
               <% end %>
              <% else %>
                There are no reviews yet.
              <% end %>
              </div>
            <br>
            <%= link_to 'Edit', edit_tv_episode_path(@tv_episode) %> |
            <%= link_to 'TV Episodes Index', tv_episodes_path %>
          </div>
        </div>
      </div>
        <div class="span4">
          <div class="accordion" id="accordion1">
            <% @tv_episode.tv_season.tv_show.tv_seasons.each do |season| %>
            <div class="accordion-group">
              <div class="accordion-heading">
                <%= link_to '<i class="icon-plus"></i>'.html_safe, tv_season_path(season.id), :style => 'display:inline', :class => 'accordion-toggle', :data => {:toggle=>"collapse",:parent=>"#accordian1"}, :href => '#'+season.id.to_s %>
                <%= link_to 'Season '+ season.number.to_s, tv_season_path(season.id) %>
              </div>
              <div id=<%= season.id.to_s %>
                class="accordion-body collapse">
                <div class="accordion-inner">
                  <ul>
                    <% season.tv_episodes.each do |episode| %>
                    <li>
                      <%= link_to '#'+ episode.number.to_s+': '+episode.title, tv_episode_path(episode.id) %></li>
                    <% end %></ul>
                </div>
              </div>
            </div>
            <% end %></div>
        </div>
      </div>

