<%= link_to "Aggregate Media Ratings", root_path, :class => 'brand' %>
<ul class="nav">
  <li><a href="../about">About</a></li>
  <li><a href="../import">Import</a></li>
     <li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
Stats
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
  <li><%= link_to "Overall stats", "../stats" %></li>
  <li><%= link_to "Graphs", "../count_by_year"%></li>  
</ul>
</li>
   <li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
Lists
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
  <li><%= link_to "Shows", tv_shows_path %></li>
  <li><%= link_to "Seasons", tv_seasons_path %></li>
  <li><%= link_to "Episodes", tv_episodes_path %></li>
  <li><%= link_to "Genres", genres_path %></li>
  <li><%= link_to "Ratings", ratings_path %></li>
</ul>
</li>
  <li>

</li>
</ul>