<%= link_to "Aggregate Media Ratings", root_path, :class => 'brand' %>
<ul class="nav">
  <li><a href="../welcome/about">About</a></li>
  <li><a href="../welcome/import">Import</a></li>
  <li><a href="../welcome/stats">Stats</a></li>
  <li><a href="#">Random</a></li>
   <li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
Listings
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
  <li><%= link_to "Shows", tv_shows_path %></li>
  <li><%= link_to "Seasons", tv_seasons_path %></li>
  <li><%= link_to "Episodes", tv_episodes_path %></li>
  <li><%= link_to "Genres", genres_path %></li>
  <li><%= link_to "Ratings", ratings_path %></li>
</ul>
</li>
  <li>
  <form class="navbar-search pull-right">
    <input type="text" class="search-query" placeholder="Search">
  </form>
</li>
</ul>