
<% for review in @recentReviews %>
  <div class="recentReviews">
        <div class="page-header" style="margin:0px">
          <h6>
          	<%= link_to review.reviewable.tv_season.tv_show.title.to_s+": "+review.title, review %> <small>
          	 by <%= review.author %> at <%= link_to review.website, review.link %></small>
          <span class="pull-right"><%= review.year_reviewed.try(:strftime, "%m/%d/%y") %>
          &nbsp;
          <% if review.positives-review.negatives == 0 %>
            <span class="badge badge-warning">
          <% elsif review.positives-review.negatives > 0 %>
            <span class="badge badge-success">+
          <% else %>          
            <span class="badge badge-important">
          <% end %><%= review.positives-review.negatives %><span/>
          </span></h6>
        </div>
        <%= review.content[0..300]+"..." %><%= link_to 'Read full review', review %>
  </div>
<% end %>

<%= will_paginate @recentReviews %>